body{
    padding-right: 4.5%;
}
nav ul {
   display: flex;
   flex-wrap: wrap;
}
nav ul li {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 19%;
    justify-content: space-around;
    padding-right: 0%;
}

main ul li {
    
    margin: 2%;
    
}
main{
    display: flex;
    flex-wrap: nowrap;

}

#Ichigo{
    float: left;
    margin: 2%;
}
#Urahara{
    float: right;
    margin: 2%;
}
#Aizen {
    float: left;
    margin: 2%;
}
#Yhwach{
    float: right;
    margin: 2%;
}
footer{
    flex-basis: 100%;
    padding-bottom: 0.5%;
}
