
header img {
    width: 100%;   
    height: 400px;
}
header ul li{
    list-style-type: none;
    border: solid thin;

}
header ul{
    width: 100%;
}

header,a {
    text-decoration: none;
    color: black;
    
}
main>ul {
    width: 70%;
}
aside{
    width: 25%;
}
section{
    width: 100%;
}

main>ul li {
    list-style-type: none;
    border: solid thick;
    padding: 2%;
}
aside>section{
    border: solid thick;
    padding: 1%;
}
aside li {
    list-style-type: none;
    border: solid thin;
}
aside ul {
    padding-left: 1%;
}
#Ichigo{
    width: 40%;
   height: 330px;
}
#Urahara{
    width: 45%;
    height: 270px;

    
}
#Aizen{
    width: 20%;
    height: 170px;
}
#Yhwach{
    width: 45%;
    height: 280px;

    
}
#contacte{
    width: 90%;
    padding-left: 3%;
    padding-bottom: 8%;
}
footer{
    width: 100%;
    height: 64px;
    background-color: black;
    padding-left: 5%;
}
footer>p{
    color: white;
    font-size: 2em;
    font-family :'Courier New', Courier, monospace
}

